extends layout

block content
  h1= title
  div(style='text-align: right;')
   button(type='button' class="btn btn-warning") Add New Instance
  - let items = results
   div.container-fluid
    div.row
     each dog,index in items
      div.col-sm-2(onClick=`buy(${index})`) #{dog.dog_color}
      div.col-sm-2(onClick=`buy(${index})`) #{dog.dog_breed}
      div.col-sm-2(onClick=`buy(${index})`) #{dog.dog_price}
      div(style='text-align: right;')
       button(type='button' class="btn btn-warning") Save
       button(type='button' class="btn btn-warning") Ok
       button(type='button' class="btn btn-warning") update
       button(type='button' class="btn btn-warning") delete 

      br
      hr

  script.
        function buy(index)
        {
            alert(`You purchased Item ${index+1}`)
        }
