extends layout

block content
  h1= title
  - let results = [{dog_color:"brown",dog_breed :"german",dog_price:200},{dog_color:"white",dog_breed :"lab",dog_price:250},{dog_color:"black",dog_breed :"poodle",dog_price:350}]
   div.container-fluid
    div.row
     each dog,index in results
      div.col-sm-2(onClick=`buy(${index})`) #{dog.dog_color}
      div.col-sm-2(onClick=`buy(${index})`) #{dog.dog_breed}
      div.col-sm-2(onClick=`buy(${index})`) #{dog.dog_price}
      br
      hr

  script.
        function buy(index)
        {
            alert(`You purchased Item ${index+1}`)
        }
